.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5); 
  }
  
  .modal-contenido {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
  }
  
  .cerrar {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  